{"text": "A new change-request for an Artifactory Project has been made in {{meta.namespace}} on the {{cluster}} cluster. They wish to go from {{current_quota}}GiB of quota to {{new_quota}}GiB. \n\nTo approve: `oc --as=\"system:serviceaccount:openshift:bcdevops-admin\" -n {{meta.namespace}} patch artprojapp {{meta.name}} -p '{\"spec\":{\"approval_status\":\"approved\"}}' --type merge`. \n\nTo reject: `oc --as=\"system:serviceaccount:openshift:bcdevops-admin\" -n {{meta.namespace}} patch artprojapp {{meta.name}} -p '{\"spec\":{\"approval_status\":\"rejected\"}}' --type merge`."}
